p{
    font-family: Roboto,Arial;
    color: rgb(96, 96, 96);
    font-size: 10px;
    width:100%;}

    body{
        margin: 0;
        padding-top: 80px;
        padding-left: 100px;
        padding-right:24px ;
        padding-bottom: 50px;
        background-color: rgb(247, 247, 247);
    }