body{
    padding-top: 80px;
    background-color:rgb(26, 24, 24);
}

.shop-now:hover{
    text-decoration: underline;
    cursor:pointer;
}

.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 24, 24);
    border-bottom-width:2px ;
    border-bottom-color: black;
    border-bottom-style:solid ;
}

.logo{
    display:inline-block;
    border-radius: 40px;
}

h1{
    color:rgb(184, 184, 184);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
}

h3{
    letter-spacing: 8px;
    color:rgb(184, 184, 184);
    font-family: 'Courier New', Courier, monospace;
}


.background-img{
    display:inline-block;
    border-style: solid;
    width:1345px;
    height:500px;
    
}

button{
    padding:20px 10px;
    background-color:rgb(184, 184, 184);
    color:rgb(26, 24, 24);
    cursor:pointer;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border:1px;
}

button:hover{
    background-color: black;
    color: white;
    transition: 2s;
}


button:active{
    background-color:rgb(184, 184, 184);
    color:rgb(26, 24, 24);
    transition: 0.5s;
}

